
/* override placeholder color of bootstrap */

.form-control::placeholder {
  opacity: 1;
  color: rgb(167, 164, 164);
}

.form-control:-ms-input-placeholder {
  color: red;
}

.form-control::-ms-input-placeholder {
  color: red;
}


/* Bootstrap valid check */


